config lanwatch 'main'
    option enabled '1'
    option server 'http://82.156.229.67:8000'
    option company_name '我的企业'
    option phone ''
    option interval '60'
    option topology_interval '300'
    option diag_fail_count '3'
    option target_host '223.5.5.5'
    option agent_id ''
    option token ''
